.App{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap:2rem;
}


.switchForm{
  margin-top: 1rem;
  transition:0.3s
}
.switchForm:hover{
  padding: 5px 10px;
  cursor: pointer;
  outline: 1px solid;
  border-radius: 5px;
}

.switch{
  height: 3rem;
}


.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin-right: 10px;
}

.navbar-link:hover {
  color: #555;
}

.content {
  margin-top: 60px;
}

.btnText{
  font-family: "Fredoka", sans-serif;
}